/* .container {
    margin-left: 400px;
} */

label {
    display: block;
    text-align: center;
    padding-top: 2.2rem;
    padding-bottom: 0.5rem;
}

button,textarea,select {
    margin: auto;
    display: flex;

    
}


button {
    background-color: black;
    color: white;
    font-size: large;
    margin-top: 1rem;
    display: block;
    border-radius: 7px;
    padding: 10px 22px;
}

label {
    font-size: 25px;
}

textarea {
    min-height: 150px;
    min-width: 250px;
}